<!doctype html>

<!--
 Name: Tessa Melli
 Date: 4/25/23
 Course: CS493-400
 Assignment: Assignment 3 - Build a Restful API
-->

<!--
 ***** BEGIN CITED CODE *****
 The following code is not wholly my own
 SOURCE: https://cloud.google.com/appengine/docs/standard/python3/building-app/storing-and-retrieving-data
 Description: Jinja-based HTML index file.
-->

<html>
<head>
  <title>Assignment 1: GAE</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Assignment 3: Build a Restful API</h1>
  <h2>Tessa Melli</h2>


</body>
</html>

<!--
 ***** END CITED CODE *****
-->
